/nbproject/project.properties
/nbproject/build-impl.xml
/nbproject/genfiles.properties
/build.xml
/nbproject/project.xml
/banco_de_dados/economize_sqlite.db
/banco_de_dados/economize_sqlite.sqbpro
/banco_de_dados/economize.db